.App {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    text-align: center;
}

article {
    max-width: 612px;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
}
