.App {
    text-align: center;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    text-align: center;
}

main > article,
main > div,
section > article {
    max-width: 612px;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
}

.loader {
    padding: 4rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
